.topnav {
    width:100%;
    height:60px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    background-color: #002245;
}
 #mainHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    position:relative;
    margin-left: 100px;
    margin-top:20px;
    font-size: 36px;
    font-style: normal;
}
#whitebackground {
    align-content: center;
    background-color: whitesmoke;
    height:200%;
}
#topnavlogo {
    height: 40px;
    margin-top: 30px;
    margin-left: -131px;
    left: 50%;
    position: relative;
    transform: translate(0, -20px);
    z-index: 10;
    align-content: center;
}
#background {
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    margin-top: -60px;
    position: relative;
    opacity: 50%;
    background-color: #697b9d;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: url(architecture-over.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
     background-color: rgba(0,0,0,0.68);
    background-blend-mode: darken;
}
 .search-container {
    align-content: center;
    width:350px;
    padding-left:10px;
    font-weight: bold;
    font-size: 25px;
    height:45px; 
    position: relative;
    z-index: 4;
    margin-left: -175px;
    margin-top: -25px;
    left:50%;
    top:50%;
}
 body {
    margin: 0;
    background: whitesmoke;
}
 .search-container button {
    float: right;
    
    padding: 5px 5px;
    z-index: 5;
    position: relative;
    transform:translateY(-41px);
    margin-right:5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  